Ice.Default.Locator=IceGrid/Locator:tcp -p 4061
FileManagerAdapter1.Endpoints=tcp 
FileManagerAdapter1.AdapterId=FileManagerAdapter1
FileManagerAdapter2.Endpoints=tcp 
FileManagerAdapter2.AdapterId=FileManagerAdapter2

UploaderAdapter.AdapterId=UploaderAdapter
Upload.Proxy=upload1 -t -e 1.1 @ UploaderAdapter

IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000


Ice.IPv6=0