Ice.Default.Locator=IceGrid/Locator:tcp -p 4061
FrontendAdapter1.Endpoints=tcp 
FrontendAdapter1.AdapterId=FrontendAdapter1
FrontendAdapter2.Endpoints=tcp 
FrontendAdapter2.AdapterId=FrontendAdapter2
FrontendAdapter3.Endpoints=tcp 
FrontendAdapter3.AdapterId=FrontendAdapter3

FileManager1.Proxy=filemanager1 -t -e 1.1 @ FileManagerAdapter1
FileManager2.Proxy=filemanager2 -t -e 1.1 @ FileManagerAdapter2

FileUpdatesAdapter.AdapterId=FileUpdatesAdapter
FileUpdatesAdapter.Endpoints=tcp 

FrontendUpdatesAdapter.AdapterId=FrontendUpdatesAdapter
FrontendUpdatesAdapter.Endpoints=tcp

IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000
Ice.IPv6=0